### 1. Read this dataset in pandas , mysql and mongodb

In [16]:
import pandas as pd

In [17]:
fit_bit=pd.read_csv('FitBitdata.csv')

In [18]:
import MySQLdb

#### 2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql

In [67]:
import mysql.connector as conn

In [70]:
db=conn.connect(host="localhost",user="root",password="9971372013")
cursor=db.cursor()
cursor.execute(" create database  if not exists fitbitdataset")

In [66]:
import csvkit
! csvsql --db mysql://root:9971372013@localhost:3306/fitbitdataset --insert FitBitdata.csv

C:\Users\vipin\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x1b3a3d4dfa0>
C:\Users\vipin\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\vipin\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\vipin\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [20]:
import pymongo
import json

In [21]:
client = pymongo.MongoClient("mongodb+srv://vipinjanghu:987456321@cluster0.njqxn2h.mongodb.net/?retryWrites=true&w=majority")
db = client["Pandas"]
collection=db["test1"]

In [22]:
mongo_fit_bit=fit_bit.to_json(orient='records')
mongo_data=json.loads(mongo_fit_bit)

In [23]:
collection.insert_many(mongo_data)

### 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [24]:
fit_bit["ActivityDate"]=pd.to_datetime(fit_bit["ActivityDate"])

In [44]:
fit_bit

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActivemintue,TotalActiveminute
0,1503960366,2016-03-25,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,250,250
1,1503960366,2016-03-26,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,380,380
2,1503960366,2016-03-27,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,329,329
3,1503960366,2016-03-28,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,283,283
4,1503960366,2016-03-29,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,299,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,458,458
453,8877689391,2016-04-09,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,388,388
454,8877689391,2016-04-10,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,385,385
455,8877689391,2016-04-11,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,250,250
456,8877689391,2016-04-12,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,58,58

In [26]:
import mysql.connector as conn
mydb=conn.connect(host="localhost",user="root",password="9971372013")
cursor=mydb.cursor()

In [27]:
cursor.execute("use fitbitdataset")
cursor.execute("alter table fitbitdata modify ActivityDate date")# It only works when we have date column in YYYY-MM-DD format
# Else use this befor above code 
# update table_name set column_name=str_to_date(column_name,"format of string i.e "%d-%m-%Y")

### 4 . Find out in this data that how many unique id's we have

In [28]:
fit_bit["Id"].nunique()

35

### 5 . which id is one of the active id that you have in whole dataset

In [40]:
fit_bit["TotalActiveminute"]=fit_bit["VeryActiveMinutes"]+fit_bit["FairlyActiveMinutes"]+fit_bit["LightlyActiveMinutes"]
fit_bit[["TotalActiveminute","Id"]].sort_values("TotalActiveminute",ascending=False).iloc[0]

TotalActiveminute           720
Id                   2891001357
Name: 139, dtype: int64

### 6 . how many of them have not logged there activity find out in terms of number of ids

In [46]:
fit_bit[fit_bit["TotalActiveminute"]==0]["Id"].count()

68

### 7 . Find out who is the laziest person id that we have in dataset

In [56]:
fit_bit[fit_bit["Calories"]>0].sort_values("Calories").iloc[[0]]["Id"]

18    1503960366
Name: Id, dtype: int64

### 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [58]:
fit_bit[fit_bit["Calories"]>2500]["Id"].nunique() # we consider a healthy person who burn at 2500 calories a day

17

### 9. how many person are not a regular person with respect to activity try to find out those

### 10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [65]:
fit_bit.sort_values("TotalActiveminute",ascending=False).iloc[[2]]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActivemintue,TotalActiveminute
142,2891001357,2016-04-05,2063,1.61,0.0,1.609344,0.0,0.0,1.61,0.0,0,0,630,99,1144,630,630

In [79]:
cursor.execute("use fitbitdataset")

In [107]:
cursor.execute("alter table fitbitdata add TotalActiveminute float(10)")

In [108]:
cursor.execute("update fitbitdata set TotalActiveminute=VeryActiveMinutes+FairlyActiveMinutes+LightlyActiveMinutes")
db.commit()

In [109]:
cursor.execute("select Id,`rank`,TotalActiveminute from (select Id,TotalActiveminute ,dense_rank() over (order by TotalActiveminute desc ) as `rank` from fitbitdata) as c where c.`rank`=3")

In [110]:
for i in cursor:
    print(i)

(Decimal('2891001357'), 3, 630.0)

### 11 . who is the 5th most laziest person avilable in dataset find it out

In [117]:
fit_bit[fit_bit["TotalActiveminute"]>0].sort_values("TotalActiveminute",ascending=True).iloc[[4]]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActivemintue,TotalActiveminute
53,1844505072,2016-04-06,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,1439,1349,1,1

### 12 . what is a totla acumulative calories burn for a person find out

In [125]:
fit_bit.groupby("Id")[["Calories"]].sum()

            Calories
Id
1503960366     34128
1624580081     25705
1644430081     29164
1844505072     19391
1927972279     27048
2022484408     29704
2026352035     16266
2320127002     18385
2347167796     30320
2873212765     20349
2891001357     18187
3372868164     18603
3977333714     16777
4020332650     98412
4057192912     60913
4319703577     23931
4388161847     14442
4445114986     31617
4558609924     21962
4702921684     42322
5553957443     21630
5577150313     36303
6117666160     20993
6290855005     21656
6391747486     15868
6775888955     24523
6962181067     29249
7007744171     31525
7086361926     26124
8053475328     31825
8253242879     17556
8378563200     40274
8583815059     19130
8792009665     24884
8877689391     41414